<html>
<head>
  <% include common/head %>
  <meta name="robots" content="noindex" />
</head>
<body>
  <% include common/nav %>
  <div class="container">
    <div class="row">
      <h1 class="page-header">Admin Panel</h1>
    </div>
    <div class="row text-center">
      <div class="col-md-12">
        <h2>Conference Delegate Applicants</h2>
        <h3><small># of applicants for conference :</small> <%= delegateCount %></h3>

        <div class="table-container">
          <table id="taster-catalog" class="table">
            <thead>
              <tr>
                <th>
                  #
                </th>
                <th>
                  Name (first,last)
                </th>
                <th>
                  Email
                </th>
                <th>
                  Faculty
                </th>
                <th>
                  Major
                </th>
                <th>
                  Year
                </th>
                <th>
                  Q1 (how'd hear bout QGEC)
                </th>
                <th>
                  Q2 (sust. resource)
                </th>
                <th>
                  Accepted?
                </th>
                <th>
                  <!-- Delete -->
                </th>
              </tr>
            </thead>
            <tbody>
              <% delegate.forEach(function(delegate, i) { %>
                <tr>
                  <td>
                    <%= delegate.appOrder %>
                  </td>
                  <td>
                    <%= delegate.firstName %> <%= delegate.lastName %>
                  </td>
                  <td>
                    <%= delegate.email %>
                  </td>
                  <td>
                    <%= delegate.faculty %>
                  </td>
                  <td>
                    <%= delegate.major %>
                  </td>
                  <td>
                    <%= delegate.year %>
                  </td>
                  <td>
                    <%= delegate.q1 %>
                  </td>
                  <td>
                    <%= delegate.q2 %>
                  </td>
                  <td>
                    <%= delegate.accepted %>
                  </td>
                  <td>
                    <form action="/admin/delete/delegate" method="POST">
                      <input type="hidden" name="delegateID" value="<%= delegate._id %>">
                      <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this item? This really, really cannot be undone.');">Delete</button>
                    </form>
                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
        <% if (delegate.length < 1) { %>
          <div class="row text-center">
            No Delegates Yet!
          </div>
        <% } %>

        <hr>

        <h2>Fall Taster Applicants</h2>
        <h3><small># of applicants for taster :</small> <%= tasterCount %></h3>
        <div class="table-container">
          <table id="taster-catalog" class="table">
            <thead>
              <tr>
                <th>
                  Name (first,last)
                </th>
                <th>
                  Email
                </th>
                <th>
                  Faculty
                </th>
                <th>
                  Year
                </th>
                <th>
                  Topics
                </th>
                <th>
                  Comments
                </th>
                <th>
                  <!-- Delete -->
                </th>
              </tr>
            </thead>
            <tbody>
              <% taster.forEach(function(taster, i) { %>
                <tr>
                  <td>
                    <%= taster.firstName %> <%= taster.lastName %>
                  </td>
                  <td>
                    <%= taster.email %>
                  </td>
                  <td>
                    <%= taster.faculty %>
                  </td>
                  <td>
                    <%= taster.year %>
                  </td>
                  <td>
                    <%= taster.topics %>
                  </td>
                  <td>
                    <%= taster.comments %>
                  </td>
                  <td>
                    <form action="/admin/delete/taster" method="POST">
                      <input type="hidden" name="tasterID" value="<%= taster._id %>">
                      <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this item? This really, really cannot be undone.');">Delete</button>
                    </form>
                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
        <% if (taster.length < 1) { %>
          <div class="row text-center">
            No Tasters Yet!
          </div>
        <% } %>
      </div>
    </div>
  </div>

  <% include common/footer %>
</body>
</html>